Checks: >
    *,
    -altera-*,
    -llvm-*,
    -llvmlibc-*,
    -bugprone-easily-swappable-parameters,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    -misc-no-recursion,
    -misc-include-cleaner,
    -cppcoreguidelines-avoid-c-arrays,
    -hicpp-avoid-c-arrays,
    -modernize-avoid-c-arrays,
    -concurrency-mt-unsafe,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -hicpp-no-array-decay,
    -cert-err34-c,
    -cert-err33-c,
    -cppcoreguidelines-pro-type-vararg,
    -hicpp-vararg
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'